{% block hero %}
    <div class="callout callout-top clearfix">
        <div class="grid">
            <h1>Shifted 3 CMS</h1>
            <h4>A Modern Content Management System<br/>for World of Warcraft Emulation</h4>
            <div class="col_4">
                <i class="fa fa-mobile fa-4x"></i><br/>
                Responsive
            </div>

            <div class="col_4">
                <i class="fa fa-github fa-4x"></i><br/>
                MIT Open Source
            </div>

            <div class="col_4 omega">
                <i class="fa fa-tint fa-4x"></i><br/>
                Designer Friendly
                </i>
            </div>
            <div class="clear"></div>
            <br/>
            <a class="button red large" href="https://github.com/DefiantGC/S3CMS"><i class="fa fa-cloud-download"></i>
                Download (Github)</a>
            <span style="white-space: nowrap;">
		        <a class="button blue large" href="https://twitter.com/defiant_gc"><i class="fa fa-twitter"></i></a>
            </span>
        </div>
    </div>
{% endblock %}
